<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

{% if user.is_authenticated %}
    <h3>Привет, {{ user.first_name }} {{ user.last_name }}
        <a href="{% url "logout" %}">
            <button>Выход</button>
        </a>
    </h3>
    {% for friend in friends %}
        <p>
            <img src="{{ friend.photo_200 }}" alt=""><br>
            {{ friend.first_name }}
            {{ friend.last_name }}
        </p>
        <hr>
    {% empty %}
        <p>Ваш список друзей пуст</p>
    {% endfor %}
{% else %}
    <a href="{% url "social:begin" "vk-oauth2" %}">
        <button>Авторизоваться</button>
    </a>
{% endif %}
</body>
</html>